@font-face {
    font-family: "Bebas Neue";
    src: url("./assets/fonts/BebasNeue-Regular.ttf") format("ttf"); // adapter l'url en fonction du nom de votre fichier
  }
$color: red;
body {
    background-color: $color;
    background: url(assets/img/sambre2.jpg);
    font-family: 'Bebas Neue', cursive;
    color: $color;
}